.budget-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.budget-summary-tile {
    display: grid;
    grid-template-columns: 2fr 1fr 10px 1fr; 
    padding: 20px;
    font-size: 1.5em;
}

.bst-allocated {
    text-align: right
}

.session-prompt {
    list-style: none;
    margin: 200px auto 0;
    width: fit-content;
}

.session-prompt > li > button {
    font-size: 2em;
    display: block;
    padding: 10px;
    margin: 20px auto;
}

.purple {
    color: #8884d8
}