.budget-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.budget-summary-tile {
    display: grid;
    grid-template-columns: 2fr 1fr 10px 1fr; 
    padding: 20px;
    font-size: 1.5em;
}

.bst-allocated {
    text-align: right
}