.transaction-summary-tile {
    border: 1px white solid;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr 1fr;
    column-gap: 5px;
}

.transaction-summary-tile > p, .transaction-summary-name {
    padding: 10px 0;
    margin: 0;
}